:root {
  --speed: 500ms;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.search-bar {
  margin-top: 18px;
  width: 100%;
  max-width: 800px;
  padding: 0 15px;
  box-sizing: border-box;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3;
  box-sizing: border-box;
}

input[type="text"]:focus {
  border-color: #71ab8b;
  outline: none;
}

h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  line-height: 1.2rem;
}

h3 span {
  font-size: 14px;
  font-weight: 400;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  z-index: 10;
  padding: 10px;
}

.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center; 
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-list li {
  padding: 6px 10px;
  padding-bottom: 5px;
  margin: 0 15px;
}

.navbar-list li:hover a, .navbar-list li:hover button {
  color: rgb(212, 33, 9);
  cursor: pointer;
}

.navbar-list li a, .navbar-list li button {
  text-decoration: none; 
  color: black;
  font-family: 'Roboto', sans-serif; 
  font-size: 16px; 
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar button {
  background-color: white;
  padding: 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  align-self: center;
}