/* Favorites Page */
.favorites-page {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 80px 20px;
    background-color: #f1e3ce;
    overflow-y: auto;
}

.favorites-page .hero {
    color: #b53d00;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
}

/* Favorites Section */
.favorites {
    margin-top: 40px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.favorites h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #256bdb;
    margin-bottom: 20px;
    text-align: center;
}

/* Navbar Styling */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    z-index: 10;
    padding: 10px;
}

.navbar-list {
    display: flex;
    justify-content: center;
    align-items: center; 
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-list li {
    padding: 6px 10px;
    padding-bottom: 5px;
    margin: 0 15px;
}

.navbar-list li:hover a, .navbar-list li:hover button {
    color: rgb(212, 33, 9);
    cursor: pointer;
}

.navbar-list li a, .navbar-list li button {
    text-decoration: none; 
    color: black;
    font-family: 'Roboto', sans-serif; 
    font-size: 16px; 
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar button {
    background-color: white;
    padding: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    align-self: center;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background: #e3b342;
    color: white;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

td {
    background-color: #f8f8f8;
}

table tr:hover td {
    background-color: #e0f7fa; /* Row hover effect */
}

.delete-button {
    background-color: #c0392b; 
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #e74c3c;
}

/* Loading spinner styles */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);  /* Semi-transparent overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3); /* Light color */
    border-top: 4px solid #25DB9A; /* Color for spinner */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Responsive Design */
@media (max-width: 768px) {
    .favorites {
        width: 90%;
        margin: 20px auto;
    }
}