/* Overall page styling */
html, body {
    height: 100%;
    margin: 0; /* Remove default margin */
}

.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 80px;
    background-color: #F3E2C7;
}

/* Header styling */
.login-page .hero {
    background: linear-gradient(90deg, #256BDB, #1D8DD6); 
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 20px 200px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

/* Navbar Styling */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    z-index: 10;
    padding: 10px;
}

.navbar-list {
    display: flex;
    justify-content: center;
    align-items: center; 
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-list li {
    padding: 6px 10px;
    padding-bottom: 5px;
    margin: 0 15px;
}

.navbar-list li:hover a, .navbar-list li:hover button {
    color: rgb(212, 33, 9);
    cursor: pointer;
}

.navbar-list li a, .navbar-list li button {
    text-decoration: none; 
    color: black;
    font-family: 'Roboto', sans-serif; 
    font-size: 16px; 
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar button {
    background-color: white;
    padding: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    align-self: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff; 
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 500px;
    transition: transform 0.2s ease;
}

.login-form:hover {
    transform: translateY(-5px);
}


.login-form .form-input {
    width: 90%;
    max-width: 400px;
    padding: 15px;
    font-size: 1.1rem;
    border: 2px solid #256BDB; /* Blue border */
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}

/* Submit button */
.login-form button {
    width: 90%;
    max-width: 400px;
    height: 60px;
    background: linear-gradient(90deg, #1D8DD6, #256BDB); /* Blue gradient */
    color: white;
    padding: 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0px 4px 8px rgba(37, 107, 219, 0.4);
}

.login-form button:hover {
    background: linear-gradient(90deg, #256BDB, #1D8DD6); 
    transform: scale(1.05);
}

.google-login {
    width: 55%;
    max-width: 400px;
    height: 52px;
    padding-top: 12px;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 25px;
    box-shadow: 0px 4px 8px rgba(37, 107, 219, 0.2); 
    background-color: white;
}

.message {
    color: #333;
    font-size: 1rem;
    margin-top: 15px;
    background-color: #E0F2FF; 
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
    .login-form, .login-page .hero {
        width: 90%;
    }
}
