.login-page {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.login-page .hero {
    background: linear-gradient(90deg, #25DB9A, #256BDB); /* Gradient background */
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

.login-form {
    width: 100%;
    margin-top: 30px;
}

.login-form .form-input {
    width: 40%;
}

.login-form .form-label {
    font-size: 18px;
    text-align: left;
    font-weight: 400;
    margin-left: 125px;
}

.login-form button {
    width: 40%;
    height: 50px;
    background-color: #0d625e;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-form button:hover {
    background-color: #72DBDA;
    transform: scale(1.05);
}

div .google-login {
    width: 40%;
    height: 50px;
    padding: 12px 20px;
    margin-left: 28%;
    border: none;
    border-radius: 8px;
}