.profile-page {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.profile-page .hero {
    padding-top: 8px;
    padding-bottom: 8px;
}

.profile-page .user-info h3 {
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: -10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

h3 {
    width: 100%;
    text-align: center;
    font-size: 22px;
    padding: 10px 0;
    font-weight: 500;
}

.search-history {
    margin-top: 40px;
    border-top: 1px solid #3b604a;
}

.search-history h3 {
    font-weight: 500;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}